/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
    /* Header */
    /* 검색 */
    .search.active{
        width: 150px;
    }
    /* FOOT */
    .foot_content{
        width: 100%;
    }
    /* FOOT2 */
    .foot2_content{
        padding:30px 5%
    }
    /* FOOTER */
    
    .footer_right{
        display:none
    }
}

  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
  @media all and (max-width:767px) {
    /* Header */
    .header{
        position:fixed
    }
    header.active{
        height:40px;
        /* display:block */
    }
    .logo img {
        width: 30px;
        top:5px;
        left:46%;
        /* border:1px solid red; */
        position:absolute;
    }
    
    .gnb_right a{
        font-size:10px;
        margin:0.03em;
        color:white;
        line-height:30px
    }
    .gnb_left{
        float:none;
        background-color: #000;
        position:fixed;
        height:100vh;
        width: 200px;
        top:0;
        right:-270px;
        box-shadow: 3px 0 3px rgba(0, 0, 0, 0.1);
        padding-top:70px;
        padding-left:15px;
        transition: 0.5s;
    }
    .gnb_right{
        float:none;
        background-color: #000;
        position:fixed;
        height:100vh;
        width: 200px;
        top:0;
        left:-200px;
        flex-direction:column;
        box-shadow: 3px 0 3px rgba(0, 0, 0, 0.1);
        padding-top:70px;
        padding-left:15px;
        transition:0.5s;
        z-index:1
    }
    .gnb_left.active
    {
        right:-10px
    }
    .gnb_right.active{
        left:0px
    }
    .gnb_left a,
    .gnb_right a{
        display:block
    }
    /* Trigger */
    .trigger{
        width: 30px;
        height: 30px;
        position:absolute;
        top:5px;
        right:5px;
        cursor:pointer;
        font-size:25px;
        text-align:center;
        color:aliceblue
    }
    .trigger:before {
        content: '\e91c';
        font-family: xeicon;
    }
    .trigger.active:before{
        content: '\e9af'
    }
    
    /* 햄버거아이콘 TOGGLE */
    .toggle{
        position:fixed;
        top:10px;
        left:10px;
        z-index:1
    }
    .toggle i{
        display:block;
        width: 20px;
        height: 20px;
        font-size: 15px;
        background-color:white;
        font-weight: bold;
        text-align:center;
        border-radius: 50%;
        line-height:20px;
        cursor:pointer;
        box-shadow:0 0 10px black(0, 0, 0, 0.5);
        transition:0.5s
    }
    .toggle.active i{
        background-color:#000;
        color:#fff;
        transform:rotate(315deg)
    }
    /* 검색 */
    .xi-search{
        margin-left:-5px
    }
    .search.active{
        width: 150px;
    }
    
    
    /* TOGGLE */
    .toggle{
        position:fixed;
        top:10px;
        left:10px;
        z-index:10
    }
    .toggle i{
        display:block;
        width: 20px;
        height: 20px;
        font-size: 15px;
        background-color:#333;
        font-weight: bold;
        text-align:center;
        border-radius: 50%;
        line-height:20px;
        cursor:pointer;
        box-shadow:0 0 10px black(0, 0, 0, 0.5);
        transition:0.5s
    }
    .toggle.active i{
        background-color:#000;
        color:#fff;
        transform:rotate(315deg)
    }
    .faq_inner{
        width: 90%;
    }
    .faq_inner h1{
        font-size: 30px;
    }
    .faq-title i {
        right:10px;
        font-size: 15px;
    }


    /* FOOT */
    .foot_content{
        flex-direction: column;
    }
    .foot_content div{
        width: 100%;
    }
    .foot_content a {
        color:#000;
        background-color:#fff;
        border:1px solid #000
    }
    .foot_content a:hover{
        color:#fff;
        background-color:#000;
        border:1px solid #fff
    }
    /* FOOT2 */
    
    .foot2_content{
        flex-direction: column;
        padding:30px 5%
    }
    .foot2_01{
        padding-bottom:10px
    }
    .foot2_01 a{
        font-size: 12px;
    }
    .follow01 i{
        font-size: 20px;
        text-align:center
    }
    .foot2_02{
        text-align:center
    }
    /* FOOTER */
    footer{
        font-size: 10px;
    }
    .footer_left{
        padding-bottom:30px
    }
    .footer_right{
        display:none
    }
}